:root {
    --green-color: #87cb2c;
    --green-color-dark: #0e9a28;
    --orange-color: #f1d03b;
    --orange-color-dark: #c4a82b;
    --red-color-light: #f78146;
    --red-color: #ed4f00;
    --brown-color-trans: #4f410051;
    --brown-color: #4f4100;
    --sky-color: #5990ad;
    --sky-color-light: #bbdff3;

}

html {
    background-color: #fff;
    z-index: -2;
}

body {
    position: relative;
    z-index: -1;
    max-width: 1280px;
    margin: auto;
    background: var(--green-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.cover {
    width: 100%;
	height: 100%;
	position: fixed;
	top: 0vh;
	left: 0vh;
    background-color: #000;
	opacity: 0.5;
    z-index: 2;
}

header {
    box-sizing: border-box;
    margin: auto;
    padding: 5px 20px;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    font-size: 4.5rem;
    margin: auto;
}

h2 {
    margin: 15px 0px;
}

.burger {
    box-sizing: border-box;
    margin: 0px 80px;
    width: 60px;
    height: 60px;
    z-index: 4;
    transition: transform 700ms ease-out;
    overflow: visible;
}

.burger:hover {
    cursor: pointer;
    transform: scaleY(1.15);
    overflow: visible;
}

.unpack1 {
    transform: translateX(17px);
}

.unpack2 {
    transform: translateX(12px);
}

.unpack3 {
    transform: translateX(7px);
}

.unpack4 {
    transform: translateX(3px);
}

nav.menu {
    box-sizing: border-box;
    left: -350px;
    width: 350px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    padding: 100px 25px 30px;
    letter-spacing: 0.05rem;
    font-size: 1.7rem;
    color: #fff;
    background-image: radial-gradient(#f1d03b, #c4a82b);
    z-index: 3;
    transition: transform 600ms ease-in-out;
}

.menu.move {
    transform: translateX(330px);
}

li {
    margin-bottom: 12px;
}

li:hover, li:focus {
    font-weight: bold;
    background-color: var(--green-color);
}

.opened {
    font-weight: bold;
    background-color: var(--brown-color-trans);
}

li a {
    text-decoration: none;
    color: #fff;
}


main {
    box-sizing: border-box;
    margin: auto;
    padding: 10px 40px 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 18px;
}

main section, div.card {
    box-sizing: border-box;
    position: relative;
    padding: 0px 10px;
    height: 250px;
    max-width: 280px;
    min-width: 230px;
    background-color: #fff;
    color: var(--red-color-light);
    border-top-left-radius: 15em 1em;
    border-bottom-right-radius: 15em 1em;
    text-align: center;
    transition: transform 400ms ease-out;
}

section img {
    width: auto;
    height: 165px;
}

.card img {
    object-fit: contain;
    height: 150px;
    width: 200px;
    margin-top: 15px;
}

button:hover {
    cursor: pointer;
}

.card button {
    position: absolute;
    right: 5px;
    bottom: 12px;
    font-weight: bold;
    font-size: 2rem;
    width: 40px;
    height: 45px;
    margin-left: auto;
    border: none;
    color: var(--sky-color);
    background-color: var(--sky-color-light);
    box-shadow: 0px 0px 4px var(--brown-color);
    border-top-left-radius: 13em 3em;
    border-bottom-right-radius: 13em 3em;
}

.flip {
    transform: rotateY(90deg);
}

a {
    text-decoration: none;
    color: var(--red-color-light);
}


section a:hover {
    cursor: pointer;
    color: var(--red-color);
}

main section:hover, main section:focus, div.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px var(--brown-color);
}

main section:active {
    box-shadow: 0px 0px 3px var(--brown-color), inset 0px 0px 1px var(--brown-color);
}

input, h1 a {
    color: #fff;
}

.toggle, .toggle:before, .slot__label, .curtain {
    transition-property: background-color, transform, visibility;
    transition-duration: 0.25s;
    transition-timing-function: ease-in, cubic-bezier(0.6,0.2,0.4,1.5), linear;
}

.toggle:before, .slot, .slot__label {
    display: block;
}

.toggle:before, .curtain {
    position: absolute;
}

.toggle:checked, .curtain {
    background-color: var(--orange-color);
}

.toggle:focus {
    outline: transparent;
}

.toggle {
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.3em inset;
    cursor: pointer;
    position: relative;
    width: 6.5em;
    height: 3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.toggle:before {
    background: var(--red-color);
    border-radius: 50%;
    content: "";
    top: 0.5em;
    left: 0.5em;
    width: 2em;
    height: 2em;
}

.toggle:checked:before {
    transform: translateX(3.5em);
}

.toggle:checked ~ .slot .slot__label, .slot__label:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
}

.toggle:checked ~ .slot .slot__label:nth-child(2) {
    transform: translateY(-100%) scaleY(1);
}

.toggle:checked ~ .curtain {
    transform: scaleX(1);
}

.slot {
    color: var(--red-color-light);
    -webkit-text-stroke: 0.08em var(--red-color);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1;
    height: 1em;
    margin-left: 8px;
}

.slot__label {
    transform-origin: 50% 0;
}

.slot__label:nth-child(2) {
    transform-origin: 50% 100%;
}

.curtain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: 0 50%;
    z-index: -1;
}

@media screen and (width < 1100px) {
    h1 {
        font-size: 3.5rem;
        flex-grow: 2;
    }
    svg.burger {
        margin: 0px 45px;
    }
}

@media screen and (width < 850px) {
    header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        row-gap: 5px;
        margin-bottom: 20px;
    }

    li {
        text-align: start;
    }

    h1 {
        margin: 15px 0px 15px;
    }

    svg.burger {
        align-self: flex-start;
    }
}