<h2 id='subHead'></h2>
<div class='gameSet down2'>
    <button id='startGameButton'>&nbsp;&nbsp;&nbsp;Start&nbsp;&nbsp;&nbsp;</button>
    <div class='points'></div>
    <div class='playAssets' hidden>
        <audio class='correct' src='./audio/correct.mp3'></audio>
        <audio class='error' src='./audio/error.mp3'></audio>
        <img class='error' src='./images/1errorLeaf1.png' alt='red_leaf(error)'>
        <img class='correct' src='./images/2correctLeaf.png' alt='green_leaf(correct)'>
        <img class='goodResult' src='./images/1goodResult.gif' alt='smile'>
        <img class='failResult' src='./images/2wrongResult.gif' alt='sad'>
        <audio class='goodResult' src="./audio/success.mp3"></audio>
        <audio class='failResult' src="./audio/failure.mp3"></audio>
        <div class='results'></div>
    </div>
</div>
<main>
    <div class='card n1'>
        <div class='front'>
            <img />
            <h3></h3>
            <audio class='word'></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class='back clicked'>
            <img />
            <h3></h3>
        </div>
    </div>
    <div class='card n2'>
        <div class='front'>
            <img />
            <h3></h3>
            <audio class='word'></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class='back clicked'>
            <img />
            <h3></h3>
        </div>
    </div>
    <div class='card n3'>
        <div class='front'>
            <img />
            <h3></h3>
            <audio class='word'></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class='back clicked'>
            <img />
            <h3></h3>
        </div>
    </div>
    <div class='card n4'>
        <div class='front'>
            <img />
            <h3></h3>
            <audio class='word'></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class='back clicked'>
            <img />
            <h3></h3>
        </div>
    </div>
    <div class='card n5'>
        <div class='front'>
            <img />
            <h3></h3>
            <audio class='word'></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class='back clicked'>
            <img />
            <h3></h3>
        </div>
    </div>
    <div class='card n6'>
        <div class='front'>
            <img />
            <h3></h3>
            <audio class='word'></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class='back clicked'>
            <img />
            <h3></h3>
        </div>
    </div>
    <div class='card n7'>
        <div class='front'>
            <img />
            <h3></h3>
            <audio class='word'></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class='back clicked'>
            <img />
            <h3></h3>
        </div>
    </div>
    <div class='card n8'>
        <div class='front'>
            <img />
            <h3></h3>
            <audio class='word'></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class='back clicked'>
            <img />
            <h3></h3>
        </div>
    </div>
</main>
