<h2 id="subHead"></h2>
<button id="startGameButton" hidden>Start</button>
<main>
    <div class="card n1">
        <div class="front">
            <img />
            <h3></h3>
            <audio></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class="back clicked">
            <img />
            <h3></h3>
        </div>
    </div>
    <div class="card n2">
        <div class="front">
            <img />
            <h3></h3>
            <audio></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class="back clicked">
            <img />
            <h3></h3>
        </div>
    </div>
    <div class="card n3">
        <div class="front">
            <img />
            <h3></h3>
            <audio></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class="back clicked">
            <img />
            <h3></h3>
        </div>
    </div>
    <div class="card n4">
        <div class="front">
            <img />
            <h3></h3>
            <audio></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class="back clicked">
            <img />
            <h3></h3>
        </div>
    </div>
    <div class="card n5">
        <div class="front">
            <img />
            <h3></h3>
            <audio></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class="back clicked">
            <img />
            <h3></h3>
        </div>
    </div>
    <div class="card n6">
        <div class="front">
            <img />
            <h3></h3>
            <audio></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class="back clicked">
            <img />
            <h3></h3>
        </div>
    </div>
    <div class="card n7">
        <div class="front">
            <img />
            <h3></h3>
            <audio></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class="back clicked">
            <img />
            <h3></h3>
        </div>
    </div>
    <div class="card n8">
        <div class="front">
            <img />
            <h3></h3>
            <audio></audio>
            <button>
                <div>&#8634;</div>
            </button>
        </div>
        <div class="back clicked">
            <img />
            <h3></h3>
        </div>
    </div>
</main>
